USE [master]
GO
/****** Object:  Database [EcoPoin]    Script Date: 11/06/2026 13:26:34 ******/
CREATE DATABASE [EcoPoin]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcoPoin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EcoPoin]
GO
USE [EcoPoin]
GO
/****** Object:  Table [dbo].[DepositPoints]    Script Date: 11/06/2026 13:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepositPoints](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[residentId] [int] NOT NULL,
	[depositId] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[pointTariff] [decimal](18, 2) NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_DepositPoints] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deposits]    Script Date: 11/06/2026 13:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deposits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wasteTypeId] [int] NOT NULL,
	[residentId] [int] NOT NULL,
	[officerId] [int] NULL,
	[estimatedWeight] [decimal](18, 2) NOT NULL,
	[actualWeight] [decimal](18, 2) NULL,
	[notes] [varchar](300) NULL,
	[photoPath] [varchar](256) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[rejectionReason] [varchar](300) NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Deposits] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RedemptionPoints]    Script Date: 11/06/2026 13:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RedemptionPoints](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[residentId] [int] NOT NULL,
	[voucherId] [int] NOT NULL,
	[code] [varchar](72) NOT NULL,
	[amount] [decimal](18, 0) NOT NULL,
	[pointCost] [decimal](18, 0) NOT NULL,
	[isUsed] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_RedemptionPoints] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/06/2026 13:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [varchar](64) NOT NULL,
	[username] [varchar](64) NOT NULL,
	[email] [varchar](64) NOT NULL,
	[phone] [varchar](32) NOT NULL,
	[password] [varchar](256) NOT NULL,
	[role] [varchar](256) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 11/06/2026 13:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](64) NOT NULL,
	[code] [varchar](24) NOT NULL,
	[pointCost] [decimal](18, 2) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Vouchers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WasteTypes]    Script Date: 11/06/2026 13:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WasteTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](64) NOT NULL,
	[code] [varchar](64) NOT NULL,
	[pointTariff] [decimal](18, 2) NOT NULL,
	[CO2Factor] [decimal](18, 2) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_WasteType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [fullName], [username], [email], [phone], [password], [role]) VALUES (1, N'Admin', N'admin', N'admin@ecopoin.co', N'087666542311', N'58d57660e530848c3cf0aff2b75a8ff9eb1f52dc8efb1557fdfe2f5b32ef4fb6', N'admin')
INSERT [dbo].[Users] ([id], [fullName], [username], [email], [phone], [password], [role]) VALUES (2, N'Raka Booming', N'offraka', N'rakabooming@ecopoin.co', N'082377655462', N'58d57660e530848c3cf0aff2b75a8ff9eb1f52dc8efb1557fdfe2f5b32ef4fb6', N'officer')
INSERT [dbo].[Users] ([id], [fullName], [username], [email], [phone], [password], [role]) VALUES (3, N'Pasca Bowo', N'wowok', N'wowok12@gmail.com', N'081900876520', N'58d57660e530848c3cf0aff2b75a8ff9eb1f52dc8efb1557fdfe2f5b32ef4fb6', N'resident')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([id], [name], [code], [pointCost], [isActive]) VALUES (1, N'Electricity Token 20K', N'TLS20', CAST(4000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Vouchers] ([id], [name], [code], [pointCost], [isActive]) VALUES (2, N'Free One Coffee', N'FCO', CAST(1200.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Vouchers] ([id], [name], [code], [pointCost], [isActive]) VALUES (3, N'Food Discount 10%', N'FD10', CAST(1300.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[WasteTypes] ON 

INSERT [dbo].[WasteTypes] ([id], [name], [code], [pointTariff], [CO2Factor], [isActive]) VALUES (1, N'Plastic Bottle (PET)', N'PET-01', CAST(200.00 AS Decimal(18, 2)), CAST(2.50 AS Decimal(18, 2)), 1)
INSERT [dbo].[WasteTypes] ([id], [name], [code], [pointTariff], [CO2Factor], [isActive]) VALUES (2, N'Aluminium Can', N'AL-02', CAST(70.00 AS Decimal(18, 2)), CAST(0.40 AS Decimal(18, 2)), 1)
INSERT [dbo].[WasteTypes] ([id], [name], [code], [pointTariff], [CO2Factor], [isActive]) VALUES (3, N'Glass Bottle', N'GL-03', CAST(60.00 AS Decimal(18, 2)), CAST(0.30 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[WasteTypes] OFF
GO
ALTER TABLE [dbo].[DepositPoints] ADD  CONSTRAINT [DF_DepositPoints_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Deposits] ADD  CONSTRAINT [DF_Deposits_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Deposits] ADD  CONSTRAINT [DF_Deposits_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[RedemptionPoints] ADD  CONSTRAINT [DF_RedemptionPoints_isUsed]  DEFAULT ((0)) FOR [isUsed]
GO
ALTER TABLE [dbo].[RedemptionPoints] ADD  CONSTRAINT [DF_RedemptionPoints_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[RedemptionPoints] ADD  CONSTRAINT [DF_RedemptionPoints_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[DepositPoints]  WITH CHECK ADD  CONSTRAINT [FK_DepositPoints_Deposits] FOREIGN KEY([depositId])
REFERENCES [dbo].[Deposits] ([id])
GO
ALTER TABLE [dbo].[DepositPoints] CHECK CONSTRAINT [FK_DepositPoints_Deposits]
GO
ALTER TABLE [dbo].[DepositPoints]  WITH CHECK ADD  CONSTRAINT [FK_DepositPoints_Residents] FOREIGN KEY([residentId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[DepositPoints] CHECK CONSTRAINT [FK_DepositPoints_Residents]
GO
ALTER TABLE [dbo].[Deposits]  WITH CHECK ADD  CONSTRAINT [FK_Deposits_Officers] FOREIGN KEY([officerId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Deposits] CHECK CONSTRAINT [FK_Deposits_Officers]
GO
ALTER TABLE [dbo].[Deposits]  WITH CHECK ADD  CONSTRAINT [FK_Deposits_Residents] FOREIGN KEY([residentId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Deposits] CHECK CONSTRAINT [FK_Deposits_Residents]
GO
ALTER TABLE [dbo].[Deposits]  WITH CHECK ADD  CONSTRAINT [FK_Deposits_WasteTypes] FOREIGN KEY([wasteTypeId])
REFERENCES [dbo].[WasteTypes] ([id])
GO
ALTER TABLE [dbo].[Deposits] CHECK CONSTRAINT [FK_Deposits_WasteTypes]
GO
ALTER TABLE [dbo].[RedemptionPoints]  WITH CHECK ADD  CONSTRAINT [FK_RedemptionPoints_Residents] FOREIGN KEY([residentId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[RedemptionPoints] CHECK CONSTRAINT [FK_RedemptionPoints_Residents]
GO
ALTER TABLE [dbo].[RedemptionPoints]  WITH CHECK ADD  CONSTRAINT [FK_RedemptionPoints_Vouchers] FOREIGN KEY([voucherId])
REFERENCES [dbo].[Vouchers] ([id])
GO
ALTER TABLE [dbo].[RedemptionPoints] CHECK CONSTRAINT [FK_RedemptionPoints_Vouchers]
GO
USE [master]
GO
